# Ignorar carpeta de datos (pesados)
data/
*.csv
*.xlsx

# Ignorar checkpoints de Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
.ipynb_checkpoints/

# Archivos temporales
*.tmp
~$*.xlsx

# Sistema
.DS_Store